<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" th:href="@{/css/app.css}" />

	<title>Countries of the World</title>
</head>
<body>
	<header>
		<div class="container">
			<h1><a th:href="@{/}">Countries of the World</a></h1>
		</div>
	</header>
	<div class="container">
        <div class="navigation">
            <h4>
                <ul>Sort By:
                    <li><a th:href="@{'/sort=country'}">Country</a></li>
                    <li><a th:href="@{'/sort=capital'}">Capital</a></li>
                    <li><a th:href="@{'/sort=population'}">Population</a></li>
                    <li><a th:href="@{'/sort=languages'}">Number of Languages</a></li>
                </ul>
            </h4>
        </div>
	</div>
	<div class="container">
		<div class="country" th:each="country : ${countries}">
			<a th:href="@{'/' + ${country.slug}}">
				<img th:src="@{'/img/' + ${country.slug} + '.svg'}" th:alt="'Flag of ' + ${country.name}"/>
				<h4 th:text="${country.name}">India</h4>
			</a>
		</div>
	</div>
</body>
</html>